<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>URL Shortener | Dashboard</title>
</head>
<body class="flex flex-col h-screen bg-slate-950 font-[Inter]">
    {% include "navbar.html" %}
    <div class="mx-auto min-w-3/5 py-4 space-y-4">
        <h1 class="text-2xl tracking-tight font-semibold">Dashboard de {{username}}</h1>
        <hr class="border-gray-200" />
        <div class="space-y-8">
            {% if username_urls %}
            <table class="min-w-full bg-white shadow rounded-sm overflow-hidden">
                <thead class="bg-gray-200 text-left">
                    <tr>
                        <th>Original URL</th>
                        <th>Short URL</th>
                        <th>Visitas</th>
                        <th>Fecha de Creación</th>
                        <th>Expiración</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url_data in username_urls %}
                    <tr class="border-t-gray-200">
                        <td><a class="text-blue-600" href="{{ url_data.original }}" target="_blank">{{
                                url_data.original }}</a></td>
                        <td><a class="text-blue-600" href="{{ domain ~ url_data.shorter }}" target="_blank">{{
                                domain ~ url_data.shorter }}</a>
                        </td>
                        <td>{{ url_data.visits }}</td>
                        <td>{{ url_data.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ url_data.expires_at.strftime('%Y-%m-%d %H:%M') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h2 class="text-xl">Todavía no has acortado ninguna URL</h2>
            {% endif %}
            <a class="border-1 border-blue-400 rounded-sm font-semibold px-8 py-2 bg-blue-100 shadow-md hover:border-blue-800 hover:bg-blue-700 hover:text-white hover:shadow-lg "
                href="/">Acortar URL</a>
        </div>
    </div>
</body>
</html>