<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <title>URL Shortener</title>
</head>
<body class="flex flex-col h-screen space-y-16 bg-slate-950 font-[Inter]">
  {% include "navbar.html" %}

  <form action="/shorter" method="post"
    class="flex flex-col bg-slate-950 text-white w-3/5 items-start mx-auto rounded-md p-4 shadow-lg space-y-4">
    
    <h1 class="font-semibold text-2xl">Acorta una URL</h1>
    <hr class="border-0.5 w-full"/>
    {% if username and username != 'unknown' %}
    <h2 class="text-xl font-bold">Bienvenido, {{ username }}</h2>
    {% endif %}
    <div class="flex flex-col space-y-2 items-start w-full">
      <label for="url" class="tracking-wide ">Ingresa el enlace que deseas acortar:</label>
      <input type="url" id="url" name="url" required placeholder="https://ejemplo123.com"class="border-1 border-gray-400 hover:border-white rounded-sm px-4 py-0.5 w-full" />
    </div>
    <button type="submit" class="border-1 border-yellow-300 rounded-sm px-8 py-0.5 bg-yellow-200 text-black hover:border-yellow-800 hover:bg-yellow-500 hover:text-white duration-200 ease-in">Acortar
      URL
    </button>
  </form>
</body>
</html>