<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acortador-Link</title>
  </head>
  <body>
    <form
      action="/shorter
    "
      method="post"
    >
      <h1>Acortador-Link</h1>
      <label for="url">Ingresa la URL que deseas acortar:</label>
      <input
        type="url"
        id="url"
        name="url"
        required
        placeholder="https://ejemplo123.com"
      />
      <button type="submit">Acortar</button>
    </form>
  </body>
</html>
