<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
    <title>URL Shortener</title>
</head>
<body class="flex flex-col h-screen space-y-16 bg-slate-950 font-[Inter]">
    {% include "navbar.html" %}

    <form action="/auth/login" method="post"
    class="flex flex-col bg-white w-1/5 justify-center items-start mx-auto rounded-md p-4 shadow-lg gap-y-4 ">
    <h1 class="text-black font-bold text-2xl">Sign in</h1>
    <div class="flex flex-col w-full gap-y-1 items-start">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="user@example.com"
        class="w-full border-1 rounded-sm px-2" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required 
        class="w-full border-1 rounded-sm px-2" />
    </div>
    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}
    <button type="submit"
      class="border-1 border-yellow-300 rounded-sm px-8 py-0.5 bg-yellow-200 text-black hover:border-yellow-800 hover:bg-yellow-500 hover:text-white duration-200 ease-in">Login</button>
  </form>
</body>
</html>